.project-card {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cursor-dot {
	width: 4px;
	height: 4px;
	background-color: #fff;
	-webkit-animation: 0.4s linear;
	animation: 0.4s linear;
	mix-blend-mode: multiply;
	position: fixed;
	pointer-events: none;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	z-index: 999;
	transform: translate(-50%, -50%);
	-webkit-animation: 0.1s;
	animation: 0.1s;
	overflow: hidden;
}
