a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

.pointer {
	transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.text::selection {
	color: deepskyblue;
	background-color: yellow;
}

.show-project {
	opacity: 0.9;
	transform: scale(1);
}

.hide-project {
	transform: scale(0.8);
	opacity: 0;
}

.cursor-dot {
	width: 5px;
	height: 5px;
	background-color: #fff;
	mix-blend-mode: difference;
	position: fixed;
	pointer-events: none;
	border-radius: 50%;
	z-index: 999;
	transform: translate(-50%, -50%);
	overflow: hidden;
	transition: all 0.5 ease;
}

.bigger {
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	background-color: rgba(0, 0, 0, 0);
	transition: all 0.15s;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
}

.blurred {
	width: 50px;
	height: 50px;
	border-width: 0px;
	background: rgba(5, 5, 5, 0.5);
	mix-blend-mode: difference;
}

.soft-icon {
	transition: all 0.4s ease-out;
	opacity: 0;
	animation: soft-icon-rotation 2s infinite linear;
}

@keyframes soft-icon-rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.project-row-text {
	transition: all 0.5s cubic-bezier(0.175, 1, 0.32, 1.375);
}

.project-row:hover .soft-icon {
	opacity: 1;
}

.project-row:hover .project-row-text {
	transform: translateX(20px);
}

.description {
	width: 100%;
	color: yellow;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5vw;
	line-height: 60px;
	font-family: "Akira";
	text-align: center;
}
