a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

.text::selection {
	color: deepskyblue;
	background-color: yellow;
}

.project-card {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: font-size 0.1s linear;
}

.project-card:hover {
	font-size: 1.5em;
}

.cursor-dot {
	width: 5px;
	height: 5px;
	background-color: #fff;
	mix-blend-mode: difference;
	position: fixed;
	pointer-events: none;
	border-radius: 50%;
	z-index: 999;
	transform: translate(-50%, -50%);
	overflow: hidden;
	transition: all 0.5 ease;
}

.bigger {
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	background-color: rgba(0, 0, 0, 0);
	transition: all 0.15s;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
}

.blurred {
	width: 50px;
	height: 50px;
	border-width: 0px;
	background: rgba(0, 0, 0, 0.5);
	mix-blend-mode: difference;
}
